body {
    font-weight:bold;
    font-size:24px;
}

div, h1, input {
    font-family: HelveticaNeue, Helvetica;
    color: #777;
}

.clock {
    font-size: 24px;
    font-weight: bold;
    float:right;
    text-align:right;
    width:auto;
    line-height: 1.2em;
    font-family: HelveticaNeue-UltraLight, Helvetica;
    position:absolute;
    right:0;
    bottom:0;
}

@media (max-width: 768px) {
    .clock {
        font-size: 64px;
    }
}

.clock {
    width:100%;
    color: #112;
    float:right;
}

.color-input, .color-input input {
    font-size: 14px;
    line-height: 1.5em;
}

div.word {
    float:left;
    width:auto;
    padding:0.25em;
    padding-left:0.5em;
    padding-right:0.5em;
    margin:0.5em;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    position:absolute;
}

div.scrambled {
    background:#DC143C;
    border:3px solid #BDB76B;
    color: white;
}

div.in-order {
    background:#FFEFD5;
    border:3px solid #BDB76B;
}

.sentence-input, .sentence-input input {
    font-size:24px;
    line-height: 1.5em;
 }

div.row {
    width:100%;
    float:left;
    margin-top:1em;
    margin-bottom:1em;
    min-height:1.25em;
    position:absolute;
}    

div#blanks {
    bottom: 1em;
}

div.blank {
    background:#eee;
    min-height:0.25em;
}


div.shuffled {
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
    z-index:5;
    width:auto;
    background:#DC143C;
    border:3px solid #BDB76B;
    color: white;
    float:left;
}

div.dragcontainer {
    border:1px solid blue;
    float:left;
    top:4em;
    width:95%;
    margin-left:1.5%;
    height:60%;
    overflow:hidden;
    position:absolute;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    border:3px solid #BDB76B;
}

div.controls {
    bottom:1em;
    width:90%;
    float:left;
    min-height:5em;
    position:fixed;
    margin-left:2.5%;
}

div.points {
    position:absolute;
    top:1em;
    right:1em;
    float:right;
}
div.remaining {
    position:absolute;
    top:1em;
    right:10em;
    float:right;
}
