
div, h1, input {
    font-family: HelveticaNeue, Helvetica;
    color: #777;
}

.clock {
    font-size: 24px;
    font-weight: bold;
    float:right;
    text-align:right;
    width:auto;
    border:0px dashed blue;
    line-height: 1.2em;
    font-family: HelveticaNeue-UltraLight, Helvetica;
    position:absolute;
    right:0;
    bottom:0;
}

@media (max-width: 768px) {
    .clock {
        font-size: 64px;
    }
}

.clock {
    width:100%;
    color: #112;
    float:right;
}

.color-input, .color-input input {
    font-size: 14px;
    line-height: 1.5em;
}

div.word {
    font-size:24px;
    float:left;
    width:auto;
    padding:0.25em;
    padding-left:0.5em;
    padding-right:0.5em;
    margin:0.5em;
    font-weight:bold;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
}

div.scrambled {
    background:#DC143C;
    border:3px solid #BDB76B;
    color: white;
}

div.in-order {
    background:#FFEFD5;
    border:3px solid #BDB76B;
}

.sentence-input, .sentence-input input {
    font-size:24px;
    line-height: 1.5em;
 }

div.row {
    width:100%;
    float:left;
    margin-top:1em;
    margin-bottom:1em;
}    

div.blanks {
    position:absolute;
    bottom: 1em;
    z-index:0;
}

div.blank {
    background:#eee;
    margin:0.25em;
    min-height:2em;
    padding:0.25em;
}

div.dragcontainer {
    float:left;
    top:4em;
    width:95%;
    margin-left:2.5%;
    border:1px dashed blue;
    height:40%;
    overflow:hidden;
    position:absolute;
}

div.dragme {
    z-index:5;
    font-size:24px;
    float:left;
    width:auto;
    padding:0.25em;
    padding-left:0.5em;
    padding-right:0.5em;
    margin:0.5em;
    font-weight:bold;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    background:#DC143C;
    border:3px solid #BDB76B;
    color: white;
    position:absolute;
    float:left;
}

div.controls {
    top:50%;
    width:90%;
    float:left;
    min-height:10em;
    position:absolute;
    margin-left:2.5%;
}
